:root {
	--color-header-bg: #292929;
	--color-footer-bg: #292929;
	--color-site-bg: #121212;
	--color-card-bg: #1a1a1a;
	--color-card-bg-hover: #1e2942;
	--color-pending-bg: #a88114;
	--color-progress-bg: #aa621f;
	--color-canceled-bg: #3a3a3a;
	--color-success-bg: #357908;
	--color-error-bg: #860f0f;
	--color-input-bg: #1a1a1a;

	--color-text-dark: #212529;
	--color-text-light: #808080;
	--color-text-white: #ededed;
	--color-text-input: #f3f4f6;
	--color-text-placeholder-input: #555555;

	--color-border-card: #2a2a2a;
	--color-border-input: #2a2a2a;
	--color-border-focus-input: #4a4a4a;

	--transition-setting: 0.2s ease-in-out;
}
